* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1663524789638-a576264a7f53?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 90vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thank-you-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    opacity: 0.9;

}

.icon {
    font-size: 90px;
    color: #28a745;
    margin-bottom: 20px;
}

h1 {
    color: #003366;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #13100b;
    margin-bottom: 30px;
}

.back-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #0066cc;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #004999;
}
