<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Send a Message</title>
    <link rel="stylesheet" href="/css/message.css">
    <link rel="icon" href="/images/building-columns-solid.svg" type="images/png">
</head>
<body>

<header>
    <div class="container">
        <a href="/" class="logo-big">
            <img src="/images/CLEVER%20BANK%20TEXT%20HORIZONTAL.png" alt="Clever Bank Logo">
        </a>
    </div>
</header>
<main>
 <form class="contact"
      th:action="@{/messages}"
      th:method="POST"
      th:object="${sendMessageRequest}">


    <h2>Send us a message, and we'll get back to you as soon as possible.</h2>

    <div class="field">
        <label for="name">Full Name</label>
        <input type="text" name="name" id="name" placeholder="Full Name" th:field="*{name}">
        <p class="alert-warning" th:if="${#fields.hasErrors('name')}"   th:errors="*{name}"></p>
        <span class="helper info">First and Last name is enough</span>
    </div>

    <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" th:field="*{email}">
        <p class="alert-warning" th:if="${#fields.hasErrors('email')}"   th:errors="*{email}"></p>
        <span class="helper info">example: julian.mantle@gmail.com</span>
    </div>

    <div class="field">
        <label for="subject">Subject</label>
        <input type="text" name="field-subject" id="subject" placeholder="Subject" th:field="*{subject}">
        <p class="alert-warning" th:if="${#fields.hasErrors('subject')}"   th:errors="*{subject}"></p>
        <span class="helper info">What is this about?</span>
    </div>

    <div class="field">
        <label for="message">Message</label>
        <textarea name="field-message" id="message" th:field="*{message}"></textarea >
        <p class="alert-warning" th:if="${#fields.hasErrors('message')}"   th:errors="*{message}"></p>
        <span class="helper info">Let us know what you need</span>
    </div>

    <input type="submit" class="button submit" value="Send">
 </form>
</main>
</body>

</html>